/*stuff that makes shit pretty*/

body {
    color: red;
}

h1 {
    color: midnightblue;
    font-size: 16px;
    font-style: italic;
}

h3 {
    background-color: thistle;
    font-style: unset;
    font-size: 14px;
}

h5 {
    color: bisque;
}

h6 {
    font-size: 15px;
}

img {
    display: block;
    margin: auto;
    max-width: 300px;
    width: 75%;
}

.brand {
    color: blue;
    font-size: 18px;
    font-style: initial;
}

.container {
    margin: 0 auto;
    max-width: 900px;
    width: 90%;
}

/*section by section*/

#header {
    background-color: hotpink;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* #navigation>ul {
    display: block;
} */

#content {
    background-color: cornflowerblue;
    padding: 5px;
    color: green;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#middle {
    font-size: 9px;
    font-style: italic;
    color: purple;
    padding: 5px;
}

#footer {
    background-color: salmon;
    padding: 10px;
}

/*navigation bar*/

#navigation {
    background-color: cyan;
}

#navigation>ul>li {
    display: inline;
}

#navigation .dropdown {
    display: none;
}

#navigation a:hover + .dropdown {
    display: block;
}