/*stuff that makes shit pretty*/

body {
    color: red;
    display: grid;
    grid-template-rows: min-content min-content auto min-content;
    grid-template-areas:
    "navigation"
    "header"
    "content"
    "footer";
}

h1 {
    color: midnightblue;
    font-size: 16px;
    font-family: 'Abril Fatface', cursive;
    font-style: italic;
    margin: 0;
}

h3 {
    background-color: thistle;
    font-style: unset;
    font-size: 14px;
}

h2 {
    background-color: bisque;
    color: black;
    font-size: 15px;
}

h5 {
    color: bisque;
}

h6 {
    font-size: 15px;
}

img {
    display: block;
    margin: auto;
    max-width: 300px;
    width: 75%;
}

.brand {
    color: blue;
    font-size: 18px;
    font-style: initial;
}

.container {
    margin: 0 auto;
    max-width: 900px;
    width: 90%;
}

/*section by section*/

#header {
    background-color: hotpink;
    grid-area: header;
    
}

/* #navigation>ul {
    display: block;
} */

#content {
    background-color: cornflowerblue;
    padding: 5px;
    color: green;
    grid-area: content;
}

#footer {
    background-color: salmon;
    grid-area: footer;
    padding: 10px;
}

/*navigation bar*/

#navigation {
    background-color: cyan;
    position: sticky;
    grid-area: navigation;
    top: 0;
}

#navigation > ul {
    display:flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
}  
#navigation>ul>li {
    display: inline;
    position: relative;
    margin:  0 10px;
}

#navigation .dropdown {
    display: none;
    left: 0;
    position: absolute;
    top: 20px;
    background-color: cyan;
}

#navigation a:hover+.dropdown, #navigation a+.dropdown:hover {
    display: block;
}
@media (min-width: 750px) {
    body {
        grid-template-columns: 15% auto;
        grid-template-rows: min-content auto min-content;
        grid-template-areas:
        "navigation header"
        "navigation content"
        "navigation footer";
    }
    #navigation > ul {
        flex-direction: column;
    }
}